<%- include("partials/header") -%>
<h1>Edit</h1>
<form action="/posts/<%- postId %>" method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <textarea name="postTitle" class="form-control" rows="1"><%- postTitle %></textarea>
        <label class="form-label">Post</label>
        <textarea name="postContent" class="form-control" rows="5"><%- postContent %></textarea>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>

</form>

<%- include("partials/footer") -%>